<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../assets/styles/about_us.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Nosotros...</title>
  </head>
  <body>
    <div class="return-button">
      <a href="../../index.html">
        <button>
          Regresar
        </button>
      </a>
    </div>
    <div class="title-section">
      <div class="title">
        ¿Quienes Somos?
      </div>
    </div>
    <div class="nosotros">
      <div class="persona">
        <!-- Cristian Hinostroza -->
        <img src="../assets/imgs/Cristian_Hinostroza.png" alt="">
        <div class="info">
          <h2>Cristian Hinostroza</h2>
          <p class="descripcion-persona">
            <i>
              Alumno PUC y desarrollador web full-stack.
              Conocimientos avanzados en programación front-end y back-end.
            </i>
          </p>
        </div>
      </div>
      <div class="persona">
        <!-- Felipe Galan -->
        <img src="../assets/imgs/Felipe_Galan.png" alt="">
        <div class="info">
          <h2>Felipe Galan</h2>
          <p class="descripcion-persona">
            <i>
            Avesado programador con conocimientos superiores en
            programación front-end y back-end. Versado en CSS, HTML, y JavaScript.
            </i>
          </p>
        </div>
      </div>
      <div class="persona">
        <!-- Luis felipe Tapia -->
        <img src="../assets/imgs/Luis_Felipe_Tapia.png" alt="">
        <div class="info">
          <h2>Luis Felipe Tapia</h2>
          <p class="descripcion-persona">
            <i>
              Aspirante a ingeniero industrial con diploma en
              programación. Conocimientos medios en programación.
              Se hace lo que se puede.
            </i>
          </p>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="scroll-text">
        <p>
          Somos un grupo de estudiantes de la Uiversidad Católica de Chile entusiastas
          de los juegos de mesa, que decidió darle un giro al clásico juego de mesa Combate
          Naval. Apuntamos a brindar una reinterpretación moderna del juego de antaño,
          cargada de un dinamismo y potencialidad táctica mucho mayores, gracias
          a su implementación en formato digital.
        </p> 

        <p>
          Incorporando la capacidad de mover
          las naves a medida que se desarrolla la partida, DCCombate Espacial se siente mucho
          más dinámico, dando al jugador la habilidad de reposicionar tácticamente su flota
          en respuesta a los ataques enemigos. El uso de habilidades y ataques especiales,
          por otro lado, ofrece a los estrategas aficionados una mayor profundidad táctica
          que el juego tradicional. 
        </p>

        <p>
          Todo esto respetando el espíritu original de acción por
          turnos, resultando en una experiencia novedosa, pero que al mismo tiempo se siente
          intuitiva y familiar.
        </p>
      </div>
    </div>
    <script type="text/javascript" src="../scripts/about-us.js"></script>
  </body>
