<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../assets/styles/instructions.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Instrucciones</title>
  </head>
  <body>
    <div class="return-button">
      <a href="../../index.html">
        <button>
          Regresar
        </button>
      </a>
    </div>
    <div class="title-section">
      <div class="title">
        Instrucciones
      </div>
    </div>

    
    <!-- Código de slide show basasdo en https://www.w3schools.com/howto/howto_js_slideshow.asp -->
    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="text">Antes de comenzar el juego, se debe elegir la 
          posición inicial de las naves en el espacio del tablero. </div>
        <div class="numbertext">1 / 21</div>
        <img src="../assets/imgs/Desktop - 3.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Para ubicar las naves, debes elegir la nave correspondiente que deseas colocar.</div>
        <div class="numbertext">2 / 21</div>
        <img src="../assets/imgs/Desktop - 4.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Y arrastrar la nave elegida a la posición deseada en el tablero.</div>
        <div class="numbertext">3 / 21</div>
        <img src="../assets/imgs/Desktop - 5.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Una vez ingresada la nave, se dispone la opcion de rotar con la tecla R.</div>
        <div class="numbertext">4 / 21</div>
        <img src="../assets/imgs/Desktop - 6.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Rotando en 90 grados cada vez que se presione la tecla.</div>
        <div class="numbertext">5 / 21</div>
        <img src="../assets/imgs/Desktop - 7.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Una vez colocadas todas las naves, presionar la flecha para confirmar el tablero.</div>
        <div class="numbertext">6 / 21</div>
        <img src="../assets/imgs/Desktop - 8.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Si el rival no está listo, se esperará a que termine. Ten en mente que hay un tiempo máximo para 
          ubicar todas las naves.
        </div>
        <div class="numbertext">7 / 21</div>
        <img src="../assets/imgs/Desktop - 11.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Comienza el juego. Cada turno dura un tiempo máximo de 1 minuto. Se pueden realizar todas las acciones
          que desees con la energía disponible. 
        </div>
        <div class="numbertext">8 / 21</div>
        <img src="../assets/imgs/Realiza una acción.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Si se desea atacar, se presiona el botón de "atacar"...
        </div>
        <div class="numbertext">9 / 21</div>
        <img src="../assets/imgs/Desktop - 13.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Y luego se indica en el mapa donde se desea atacar.
        </div>
        <div class="numbertext">10 / 21</div>
        <img src="../assets/imgs/Desktop - 14.png">
      </div>

      <div class="mySlides fade">
        <div class="text">La consola principal indicará si fue un "hit" o un "miss"
        </div>
        <div class="numbertext">11 / 21</div>
        <img src="../assets/imgs/Desktop - 15.png">
      </div>

      <div class="mySlides fade">
        <div class="text"> Para mover, se presiona el botón de "mover"...
        </div>
        <div class="numbertext">12 / 21</div>
        <img src="../assets/imgs/Desktop - 16.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Se presiona la nave que se desea mover.
        </div>
        <div class="numbertext">13 / 21</div>
        <img src="../assets/imgs/Desktop - 17.png">
      </div>

      <div class="mySlides fade">
        <div class="text"> Y se empieza a arrastrar hasta el lugar de movimiento deseado.
        </div>
        <div class="numbertext">14 / 21</div>
        <img src="../assets/imgs/Desktop - 18.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Hay que tener en consideración que el movimiento va consumiendo energía. 
        </div>
        <div class="numbertext">15 / 21</div>
        <img src="../assets/imgs/Desktop - 19.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Y se podrá mover máximo hasta agotar la energía. 
        </div>
        <div class="numbertext">16 / 21</div>
        <img src="../assets/imgs/Desktop - 20.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Al soltar la nave, se confirma el lugar de desplazamiento.
        </div>
        <div class="numbertext">17 / 21</div>
        <img src="../assets/imgs/Desktop - 21.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Se pueden restaurar naves. Para esto se debe presionar el botón "restaurar"
        </div>
        <div class="numbertext">18 / 21</div>
        <img src="../assets/imgs/Restaurar.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Presionando la casilla donde se desee restaurar se reparará esa parte dañada de la nave. 
        </div>
        <div class="numbertext">19 / 21</div>
        <img src="../assets/imgs/Restaurar-1.png">
      </div>

      <div class="mySlides fade">
        <div class="text">Una vez finalizado el turno, será el turno del rival. Se pueden agregar marcas en el mapa anexo.
        </div>
        <div class="numbertext">20 / 21</div>
        <img src="../assets/imgs/En turno rival.png">
      </div>

      <div class="mySlides fade">
        <div class="text">También se pueden eliminar marcas en el mapa anexo presionando el botón "Agregar"
        </div>
        <div class="numbertext">21 / 21</div>
        <img src="../assets/imgs/En turno rival-1.png">
      </div>


      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <div class="center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
      <span class="dot" onclick="currentSlide(11)"></span>
      <span class="dot" onclick="currentSlide(12)"></span>
      <span class="dot" onclick="currentSlide(13)"></span>
      <span class="dot" onclick="currentSlide(14)"></span>
      <span class="dot" onclick="currentSlide(15)"></span>
      <span class="dot" onclick="currentSlide(16)"></span>
      <span class="dot" onclick="currentSlide(17)"></span>
      <span class="dot" onclick="currentSlide(18)"></span>
      <span class="dot" onclick="currentSlide(19)"></span>
      <span class="dot" onclick="currentSlide(20)"></span>
      <span class="dot" onclick="currentSlide(21)"></span>
    </div>
    <!-- ----------------------------------------------------------------- -->



    <script type="text/javascript" src="../scripts/instructions.js"></script>
  </body>