<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../assets/styles/register.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="header-buttons">
    <a href="../../index.html">
      <button>
        Log In
      </button>
    </a>
    <a href="./register.html">
      <button>
        Registrarse
      </button>
    </a>
  </div>
  <div class="title-section">
    <div class="title">
      DCCombate Espacial
    </div>
  </div>
  <div class="form">
    <h1>
      Registrarse
    </h1>
    <div class="float-child">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Repite tu email">
    </div>
    <div class="float-child">
      <input type="text" placeholder="Nombre de usuario">
      <input type="password" placeholder="Contraseña">
      <input type="password" placeholder="Repite tu ontraseña">
    </div>
    
    <button class="form-button">
      <i class="material-icons">arrow_forward</i>
    </button>
  </div>
  <script type="text/javascript" src="../scripts/register.js"></script>
</body>